body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.responsiveBg {
    max-width: 100%;
    height: auto;
}

.app {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

    .app .count {
        margin-bottom: 2rem;
        text-align: center;
        display: flex;
    }

        .app .count h3 {
            line-height: 8.6rem;
            margin-right: 1rem;
        }

        .app .count h1 {
            font-size: 5em;
            margin-top: 2rem;
        }

    .app .buttons button {
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
        border: none;
        margin: 0 2rem;
        font-size: 5.8em;
        box-shadow: 0 4px 32px 0 rgba(10,14,29,.02), 0 8px 64px 0 rgba(10,14,29,.08);
        cursor: pointer;
    }

        .app .buttons button:hover {
            font-size: 6em;
        }

        .app .buttons button:focus {
            outline: 0;
        }